{% extends 'base.html.twig' %}

{% block title %}HistoriqueHospitalisation index{% endblock %}

{% block body %}
    <h1>HistoriqueHospitalisation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Patient</th>
                <th>DateSortie</th>
                <th>Medecin</th>
                <th>hospitalisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for historique_hospitalisation in historique_hospitalisations %}
            <tr>
                <td>{{ historique_hospitalisation.id }}</td>
                <td>{{ historique_hospitalisation.patient }}</td>
                <td>{{ historique_hospitalisation.dateSortie ? historique_hospitalisation.dateSortie|date('Y-m-d') : '' }}</td>
                <td>{{ historique_hospitalisation.medecin }}</td>
                 <td>{{ historique_hospitalisation.hospitalisation }}</td>
                <td>
                    <a class="btn  btn-info mt-b" href="{{ path('app_historique_hospitalisation_show', {'id': historique_hospitalisation.id}) }}">show</a>
                    <a class="btn  btn-primary mt-b" href="{{ path('app_historique_hospitalisation_edit', {'id': historique_hospitalisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-b" href="{{ path('app_historique_hospitalisation_new') }}">Create new</a>
{% endblock %}
