{% extends 'base.html.twig' %}

{% block title %}liste des patients{% endblock %}

{% block body %}
    
 {% if is_granted('ROLE_ADMIN') %}
 <h1>liste des utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Profession</th>
                <th>Telephone</th>
                <th>Genre</th>
                <th>Ville</th>
                <th>Region</th>
                <th>Pays</th>
                <th>DateNaissance</th>
                <th>NumeroCNI</th>
                <th>color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.id }}</td>
                <td>{{ inscription.nom }}</td>
                <td>{{ inscription.prenom }}</td>
                <td>{{ inscription.profession }}</td>
                <td>{{ inscription.telephone }}</td>
                <td>{{ inscription.genre }}</td>
                <td>{{ inscription.ville }}</td>
                <td>{{ inscription.region }}</td>
                <td>{{ inscription.pays }}</td>
                <td>{{ inscription.dateNaissance ? inscription.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ inscription.numeroCNI }}</td>
                <td>{{ inscription.color }}</td>
                <td>
                    <a class="btn  btn-info mt-b" href="{{ path('app_inscription_show', {'id': inscription.id}) }}">show</a>
                    <a class="btn  btn-primary mt-4" href="{{ path('app_inscription_edit', {'id': inscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary mt-b" href="{{ path('app_inscription_new') }}">Create new</a>
{% endif %}

{% endblock %}
