{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ inscription.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ inscription.prenom }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ inscription.profession }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ inscription.telephone }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ inscription.genre }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ inscription.ville }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ inscription.region }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ inscription.pays }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ inscription.dateNaissance ? inscription.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumeroCNI</th>
                <td>{{ inscription.numeroCNI }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inscription_index') }}">back to list</a>

    <a href="{{ path('app_inscription_edit', {'id': inscription.id}) }}">edit</a>

    {{ include('inscription/_delete_form.html.twig') }}

{% endblock %}
