{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block body %}
    <h1>Compte utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for key, role in roles if key == user.roles[0] %}
                    {{role}}
                {% endfor %}
               
                </td>
                <td>
                    <a class="btn btn-info mt-b" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-primary mt-b" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-b" href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
